a.lbase:link    {color:#5d85a9;text-decoration: none;font-family: Arial;font-size: 13;font-weight: normal;}
a.lbase:active  {color:#5d85a9;text-decoration: none;font-family: Arial;font-size: 13;font-weight: normal;} 
a.lbase:visited {color:#5d85a9;text-decoration: none;font-family: Arial;font-size: 13;font-weight: normal;}
a.lbase:hover   {color:#ff8903;text-decoration: none;font-family: Arial;font-size: 13;font-weight: bolder;}
a.ltext:link    {color:#000000;text-decoration: none;font-family: Arial;font-size: 13;font-weight: normal;}
a.ltext:active  {color:#000000;text-decoration: none;font-family: Arial;font-size: 13;font-weight: normal;} 
a.ltext:visited {color:#000000;text-decoration: none;font-family: Arial;font-size: 13;font-weight: normal;}
a.ltext:hover   {color:#ff8903;text-decoration: none;font-family: Arial;font-size: 13;font-weight: bolder;}
a.lzagl:link    {color:#5d85a9;text-decoration: none;font-family: Arial;font-size: 13;font-weight: bolder;}
a.lzagl:active  {color:#5d85a9;text-decoration: none;font-family: Arial;font-size: 13;font-weight: bolder;} 
a.lzagl:visited {color:#5d85a9;text-decoration: none;font-family: Arial;font-size: 13;font-weight: bolder;}
a.lzagl:hover   {color:#ff8903;text-decoration: none;font-family: Arial;font-size: 13;font-weight: bolder;}
a.ltl:link    {color:#5d85a9;text-decoration: none;font-family: Arial;font-size: 16;font-weight: bolder;}
a.ltl:active  {color:#5d85a9;text-decoration: none;font-family: Arial;font-size: 16;font-weight: bolder;} 
a.ltl:visited {color:#5d85a9;text-decoration: none;font-family: Arial;font-size: 16;font-weight: bolder;}
a.ltl:hover   {color:#ff8903;text-decoration: none;font-family: Arial;font-size: 16;font-weight: bolder;}
a.lizbr:link    {color:#ff8903;text-decoration: none;font-family: Arial;font-size: 13;font-weight: bolder;}
a.lizbr:active  {color:#ff8903;text-decoration: none;font-family: Arial;font-size: 13;font-weight: bolder;} 
a.lizbr:visited {color:#ff8903;text-decoration: none;font-family: Arial;font-size: 13;font-weight: bolder;}
a.lizbr:hover   {color:#ff8903;text-decoration: none;font-family: Arial;font-size: 13;font-weight: bolder;}
a.ltext3:link    {color:#000000;text-decoration: none;font-family: Arial;font-size: 16;font-weight: normal;}
a.ltext3:active  {color:#000000;text-decoration: none;font-family: Arial;font-size: 16;font-weight: normal;} 
a.ltext3:visited {color:#000000;text-decoration: none;font-family: Arial;font-size: 16;font-weight: normal;}
a.ltext3:hover   {color:#ff8903;text-decoration: none;font-family: Arial;font-size: 16;font-weight: bolder;}
